body{
  background-color: #10141c;
}

   .login-wrapper{
background: linear-gradient(to top,#444, #333) ;
width: 100%;
height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
       }
       .login-wrapper *{
        font-family:'Roboto', sans-serif;
       }
.login-background{
  width: 100%;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  filter: brightness(0.8);
}

       /*------------------------ -
                 FORM
       --------------------------*/
       .form-wrapper{
   
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100vh;
         flex-direction: column;
         position: relative;
   
       }
       .form-wrapper img{
           width: 100%;
           height: 100%;
           object-fit: cover;
           object-position: center;
           position: absolute;
           z-index: -1;
         
       }
       .form-ctn{
         display: flex;
         flex-direction: column;
         gap: 1em;
       width: 350px;
         padding: 40px 30px 40px 30px;
         border-radius: 8px;
         background-color: #000000a6;
        backdrop-filter: blur(10px);
       }
       .form-login-ctn{    
         gap: 1em;
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
       }
   
       .form-input{  
         padding: 0.5em 1em;
         background-color: #ffffff00;
           border: 0;
           border-bottom: 2px solid ;
           outline: 0px;
           font-weight: 300;
           color: #fff;
           font-size: 16px;
           width: 100%;
           transition: 0.2s;
       }
           .form-input:focus-visible{
               border-bottom: 2px solid var(--clr-blue-300);
           }
   
   .form-input:valid{
     border-bottom: 2px solid var(--color-huignanco);
   }
   
       ::placeholder{
         color: #e6e6e6;
       }
       
       .form-submit{
       background-color: var(--color-blue-huinganco);
       border: 0px;
       color: #fff;
       font-weight: 400;
       padding: 0.5em ;
       cursor: pointer;
       outline: 0px;
       border-radius: 4px;
       margin-top: 1em;
       font-size: 16px;
       width: 100%;
       transition: 0.2s;
       }
       .form-submit:focus-visible{
           background-color: var(--clr-blue-300);
       }
       .form-submit:hover{
         background-color: var(--clr-blue-300) ;
       }
    
       .form-title{
           text-align: center;
           color: #fff;
           font-size: 32px;
           font-weight: 300;
           margin-bottom:0 ;
       }
   
       .recover-pass{
         color:var(--clr-blue-300);
         text-decoration: none;
         font-size: 13px;
         font-weight: 400;
       }
       .recover-pass:hover
       {
         text-decoration: underline;
       }
       .recover-pass:focus
       {
         text-decoration: underline;
       }
       .btn-create-account{
         background-color: var(--color-huignanco);
         border: none;
         padding-block: 8px;
         margin-inline: 40px;
         cursor: pointer;
         border-radius: 4px;
         color: white;
         position: relative;
         transition: 0.2s;
       }
       .btn-create-account:hover{
         background-color: #94ca00;
       }
       .btn-create-account:focus{
         background-color: #94ca00;
       }
   hr{
     width: 100%;
   background-color:#999 ;
    border: 0;
    height: 1px;
   }
   .disclaimer{
     margin: 0;
     font-size: 9px;
     color: #999;
   }
   
   .bienvenida{
     text-align: center;
     color: white;
     font-size: 40px;
   }
   .form-login-data{
     color: #999;
     font-size: 14px;
   }
   /*-------------------------
             MODAL
   --------------------------*/
   .modal-create-account{
     position: absolute;
     height: 100%;
     width: 100%;
     z-index: 99;
   visibility: hidden;
   opacity: 0;
     align-items: center;
     justify-content: center;
   display: flex;
   transition: 0.3s;
   }
   
   .form-create-account{
     width: 350px;
     height: 430px;
     display: flex;
     border-radius:5px ;
     align-items: center;
     flex-direction: column;
     gap: 15px;
     background-color: #111;
        backdrop-filter: blur(10px);
     backdrop-filter: blur(10px);
     padding: 0px 30px 30px 30px;
     transition: 0.3s;
   }
   
   .close-modal{
   background-color: #0064cf00;
   border: none;
   color: var(--color-blue-huinganco);
   font-size: 18px;
   cursor: pointer;
   margin-left: auto;
   transition: 0.2s;
   }
   .close-modal:hover{
     color: var(--clr-blue-300);
   }
   .txt-registro{
     font-size: 18px;
     color: var(--color-blue-huinganco);
   }
   .ctn-close-modal{
     width: 100%;
     padding: 20px 0px 0px 0px;
   display: flex;
   align-items: center;
   justify-content: center;
   }
   
   
   
   
   
   @media(max-width:700px){
   body{
     background:#002853 ;
   
   }
   .form-create-account{
     width: 90%;
   
   }
   .form-ctn{
     width: 90%;
   }
   }
   
   .datos-registro{
     color: red;
   }
   

   /* tooltips */
      
   .nombre-usuario{
    color: white;
    padding-right: 1em;
   }

   .error-msj{
     color: #ff6161;
     margin: 0;
   
    text-align: center;
    width: 18em;
    padding: 2px;
    border-radius: 8px;
     font-weight: 400;
     font-size: 18px;
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
    position: absolute;
    bottom: 30px;
    margin-bottom: 30px ;
z-index: 99;
    display: inline;
    background-color: rgba(0, 0, 0, 0.755);
   }

   .msj-registro{
    color: white;
    margin: 0;
   
    text-align: center;
    width: 18em;
    padding: 2px;
    border-radius: 8px;
     font-weight: 400;
     font-size: 18px;
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
    position: absolute;
    bottom: 30px;
    margin-bottom: 30px ;
z-index: 99;
    display: inline;
    background-color: rgba(0, 0, 0, 0.755);
   }
   


   /*-------------------------
             BDD
   --------------------------*/
   .admin-wrapper{
    width: 100%;
    height: 100%;
    background-color: #10141c;
   }

.bdd-btn-regreso{
  color: white;
  text-decoration: none;
  padding: 1em;

}
.bdd-btn-regreso:hover{
  color: #3eaed6;
}
.bdd-title{
text-align: center;
color: #ffffff;
padding-block: 1em;


background: linear-gradient(to right, #0088ff, #00ff91);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:300 ;
}

   .bdd-grid-wrapper{
    font-size: 16px;
    color: #3eaed6;
  display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 300px));;
justify-content: center;
gap: 2em;

   }
   .bdd-grid-ctn{

    border-radius: 20px;
    padding: 20px;
   }

   .color-id{
    color: #eab83c;
   }
   .color-text{
    color: #bcbcbc;
   }